@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Raleway:wght@300&display=swap");

body {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  margin: 0;
}
.wrap-content {
  padding-bottom: 2.5rem;
}

/* Headers Menu */
.header-bar {
  background-color: #2f73f0;
  height: 150px;
}

.nav-white {
  color: #ffffff;
  padding-right: 15px;
}

.nav-white:hover {
  color: #0f244b;
}

.banner-logo {
  margin: auto;
}

.nav-full {
  position: absolute;
  right: 0px;
  top: 40%;
}

/* Burger Nav Bar */
.menu-bar {
  position: absolute;
  left: 10px;
  font-size: 30px;
  cursor: pointer;
  }

.icon-burger {
  border: outset;
  border-color: cornflowerblue;
}

.icon-burger i {
    padding: 7px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2f73f0;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



/* Search Bar */
.search-bar {
  padding: 20px 0px 30px;
}

#search_field.form-control {
  display: inline-flex;
}

/* Main Page Cards */
.card-body a {
  text-decoration: none;
}

/* New Recipe Creation  */
.recipe-btn {
  padding: 25px 0px 100px;
}

/* Recipe Page view */
.col-9 h1,
#recipe_name {
  text-align: center;
  font-size: 30px;
  height: 100%;
}

.recipe-header {
  text-align: center;
}

.desc-heading {
  text-decoration: underline;
  padding: 15px 0px 5px;
  font-size: 30px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.col-12 {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
}

.ing-header {
  text-decoration: underline;
  padding: 10px;
}

.col-sm-9 .list-group {
  width: -webkit-fill-available;
}

/* Udate - Edit Recipe */
.step-number {
  display: list-item;
}

/* Footer */
.footer-bg {
  background-color: #2f73f0;
  position: inherit;
  height: 100px;
  bottom: 0;
}

.social-icon a i {
  color: #ffffff;
  padding: 10px 30px;
}

/* Media Content */
@media screen and (max-width: 850px) {
  ul.nav-full {
    display: none;
  }
}

@media screen and (min-width: 851px) {
  .menu-bar {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
