{% extends 'base.html' %} {% block content %}
  <div class="row no-gutters text-center">
    <div class="col-12">
      <h1>Add New Recipe</h1>
      <hr />
      <div class="container">
        <div class="row">
          <div
            class="col-12 d-flex justify-content-center text-sm-center text-lg-left"
          >
            <form action="{{url_for('insert_recipe')}}" method="POST">
            <!-- Recipe Name -->
              <div class="form-group">
                <label for="recipe_name">Recipe Name</label>
                <input
                  class="form-control"
                  type="text"
                  name="recipe_name"
                  id="recipe_name"
                  placeholder="Recipe Name"
                  minlength="3"
                  maxlength="30"
                  pattern="^[a-zA-Z]+( [a-zA-Z]+)*$"
                  title="Only use uppercase and lowercase letters. Cannot start with a space or number."
                  required
                />

                <!-- Recipe name remaining characters -->

                <div class="text-remaining text-left p-2">
                  <small><span id="recipe-name-count">20</span> characters
                    remaining</small
                  >
                </div>
              </div>
            <!-- Course Type -->
              <div class="form-group ">
                <label for="course_name">What is the meal course type?</label>
                <select
                  class="form-control "
                  id="categories"
                  name="course_name"
                >
                  <option value="" disabled selected>Choose Course</option>
                  {% for cat in categories %}
                  <option value="{{cat.course_name}}">{{cat.course_name}}</option>
                  {% endfor %}
                </select>
              </div>
            <!-- Recipe Description -->
              <div class="form-group">
                <label for="description"
                  >Provide short a description of the dish</label>
                <textarea
                  class="form-control"
                  name="recipe_description"
                  id="description"
                  cols="40"
                  rows="3"
                  minlength="10"
                  maxlength="150"
                  required
                ></textarea>

                <!-- Message area for description remaining characters -->

                <div class="text-remaining text-left p-2">
                  <small><span id="description-count">150</span> characters remaining</small
                  >
                </div>
              </div>
            <!-- Recipe Preparation Time-->
              <div class="form-group">
                <label for="preparation_time"
                  >How much preparation time is needed? Enter in minutes</label
                >
                <input
                  class="form-control"
                  type="number"
                  name="preparation_time"
                  max="360"
                  id="preparation_time"
                  placeholder="Minutes"
                  min="0"
                  required
                />
              </div>
              <!-- Recipe Cooking Time-->
              <div class="form-group">
                <label for="cooking_time"
                  >How much cooking time does it need? Enter in minutes</label
                >
                <input
                  class="form-control"
                  type="number"
                  name="cooking_time"
                  id="cooking_time"
                  max="1000"
                  placeholder="Minutes"
                  min="0"
                  required
                />
              </div>
            <!-- Recipe Skill Level-->
              <div class="form-group">
                <label for="skill"
                  >How complicated is this dish to make?</label
                >
                <select class="form-control" name="skill" id="skill" required>
                  <option value="" disabled selected hidden
                    >Please choose a difficulty Level</option
                  >
                  <option value="easy">Very easy</option>
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
              </div>
            <!-- Recipe Portions Number-->
              <div class="form-group">
                <label for="portions">How many portions will this make?</label>
                <input
                  class="form-control"
                  type="number"
                  name="portions"
                  id="portions"
                  max="100"
                  placeholder="Portions"
                  min="1"
                  required
                />
              </div>
            <!-- Cooking Method Steps -->
              <div class="form-group" id="step_inputs">
                <label for="step"
                  >Provide the method steps to create your recipe</label
                >
                <input
                  class="form-control"
                  type="text"
                  name="step"
                  id="step"
                  pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9.z\(\)\-\,]+)*$"
                  title="Must start with an uppercase or lowercase word. Acceptable characters are hyphens, commas, periods, and brackets. Cannot start with a space."
                  required
                />
              </div>

            <!-- User Interaction Buttons for adding/removing input for steps -->
              <div class="text-center">
                <small class="form-text text-muted"
                  >Need to add or remove a row?</small>
                <button
                  class="btn-add"
                  id="add_step"
                  type="button"
                  title="Add step row"
                >
                  <i class="fas fa-plus-square"></i>
                </button>
                <button
                  class="btn-remove"
                  id="remove_step"
                  type="button"
                  title="Remove step row"
                >
                  <i class="fas fa-minus-square"></i>
                </button>
              </div>
            <!-- Recipe Ingredients-->
              <div class="form-group" id="ingredient">
                <label for="ingredient_item"
                  >Provide the ingredients to create your recipe</label
                >
                <input
                  class="form-control"
                  type="text"
                  name="ingredients"
                  id="ingredient_item"
                  pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9.z\(\)\-\,]+)*$"
                  title="Must start with an uppercase or lowercase word. Acceptable characters are hyphens, commas, periods, and brackets. Cannot start with a space."
                  required
                />
              </div>

              <!-- User Interaction Buttons for adding/removing input for ingredients -->

              <div class="text-center">
                <small class="form-text text-muted"
                  >Need to add or remove a row?</small
                >
                <button
                  class="btn-add"
                  id="add_ingredient"
                  type="button"
                  title="Add ingredient row"
                >
                  <i class="fas fa-plus-square"></i>
                </button>
                <button
                  class="btn-remove"
                  id="remove_ingredient"
                  type="button"
                  title="Remove ingredient row"
                >
                  <i class="fas fa-minus-square"></i>
                </button>
              </div>

              <br />
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-recipe submit-btn recipe-submit"
                >
                  Submit Your Recipe
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/add-recipe.js')}}"></script>

{% endblock %}
