{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col d-flex justify-content-center align-items-end logo">
    <form>
      <input class="form-control" type="text" placeholder="Recipe Name" />
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <form>
    <div class="form-row">
      <div class="form-control col-9">
        <label for="ingredient">Ingredient</label>
        <input type="text" class="form-control" placeholder="Ingredient" />
      </div>
      <div class="form-control col-3">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" placeholder="Quantity" />
      </div>
    </div>
  </form>
</div>

<div class="row">
  <form
    action="{{url_for('insert_recipe')}}"
    method="POST"
    class="col-sm-12"
  ></form>
</div>
{% endblock %}
