{% extends 'base.html' %} {% block content %}
<form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST">
  <div class="row">
    <!-- Recipe Name -->
    <div class="col-9 align-self-center">
      <input
        class="form-control"
        type="text"
        name="recipe_name"
        id="recipe_name"
        value="{{recipe.recipe_name}}"
        minlength="3"
        maxlength="30"
        pattern="^[a-zA-Z]+( [a-zA-Z]+)*$"
        title="Only use uppercase and lowercase letters. Cannot start with a space or number."
      />
    </div>

    <!-- Recipe name remaining characters counter -->
    <div class="text-remaining text-left p-2">
      <small><span id="recipe-name-count">20</span> characters remaining</small>
    </div>
  </div>

  <!-- Recipe Input -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row recipe-header">
          <div class="w-100"></div>

          <!-- Recipe Dificulty drop down menu -->
          <strong class="desc-heading">Recipe Difficulty</strong>
          <div class="col-12">
            <select class="form-control" name="skill" id="skill" required>
              <option value="{{recipe.recipe_skill}}" selected hidden
                >Please choose a difficulty Level</option
              >
              <option value="very easy">Very easy</option>
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="hard">Hard</option>
            </select>
          </div>
          <!-- Preparation Time Input -->
          <strong class="desc-heading">Preparation Time</strong>
          <div class="col-12">
            <input
              class="form-control"
              type="number"
              name="preparation_time"
              max="360"
              id="preparation_time"
              value="{{recipe.recipe_prep_time}}"
              min="0"
              required
            />
          </div>
          <!-- Cooking Time Input -->
          <strong class="desc-heading">Cooking Time</strong>
          <div class="col-12">
            <input
              class="form-control"
              type="number"
              name="cooking_time"
              id="cooking_time"
              max="1000"
              value="{{recipe.recipe_cooking_time}}"
              min="0"
              required
            />
          </div>
          <strong class="desc-heading">Servings</strong>
          <div class="col-12">
            <input
              class="form-control"
              type="number"
              name="portions"
              id="portions"
              max="100"
              value="{{recipe.recipe_portions}}"
              min="0"
              required
            />
          </div>
          <!-- Recipe Description -->
          <strong class="desc-heading">Recipe Description</strong>
          <div class="col-12">
            <textarea
              class="form-control"
              name="recipe_description"
              id="description"
              value="{{recipe.recipe_description}}"
              cols="40"
              rows="3"
              minlength="10"
              maxlength="120"
            >{{recipe.recipe_description}}</textarea
            >
          </div>
          <div class="text-remaining text-left p-2">
            <small
              ><span id="description-count">120</span> characters
              remaining</small
            >
          </div>
        </div>
      </div>
      <!-- Recipe Image -->
      <div class="col">
        <img
          class="recipe-image"
          src="{{recipe.recipe_image}}"
          alt="{{recipe.recipe_image}}"
        />
        <label for="recipe_image">Add your recipe photo link : </label>
        <input
          class="form-control"
          type="text"
          id="recipe_image"
          name="recipe_image"
          pattern="https?://.+"
          title="Include http://"
          value="{{recipe.recipe_image}}"
          required
        />
      </div>
    </div>
    <!-- Ingredients & Method Section -->
    <div class="row no-gutters">
      <div class="col-sm-4">
        <!-- Ingredients Edit -->
        <h3 class="ing-header">Ingredients</h3>
        <div class="form-group" id="ingredient">
          {% for ingredient in recipe.recipe_ingredients %}
          <input
            class="form-control"
            type="text"
            name="ingredients"
            id="ingredient_item"
            pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9.z\(\)\-\,]+)*$"
            value="{{ingredient}}"
            title="Must start with an uppercase or lowercase word. Acceptable characters are hyphens, commas, periods, and brackets. Cannot start with a space."
            required
          />
          {% endfor %}
        </div>
        <div class="text-center">
          <small class="form-text text-muted"
            >Need to add or remove a row?</small
          >
          <button
            class="btn-add"
            id="add_ingredient"
            type="button"
            title="Add ingredient row"
          >
            <i class="fas fa-plus-square"></i>
          </button>
          <button
            class="btn-remove"
            id="remove_ingredient"
            type="button"
            title="Remove ingredient row"
          >
            <i class="fas fa-minus-square"></i>
          </button>
        </div>
      </div>

      <!-- User Interaction Buttons for adding/removing input for ingredients -->
      <div class="col-sm-9 method-header">
        <h3 class="ing-header">Method</h3>
        <div class="form-group" id="step_inputs">
          {% for steps in recipe.recipe_steps %}
          <input
            class="form-control"
            type="text"
            name="step"
            id="step"
            value="{{steps}}"
            pattern="^[a-zA-Z0-9]+( [a-zA-Z0-9.z\(\)\-\,]+)*$"
            title="Must start with an uppercase or lowercase word. Acceptable characters are hyphens, commas, periods, and brackets. Cannot start with a space."
            required
          />
          {% endfor %}
        </div>

        <!-- User Interaction Buttons for adding/removing input for steps -->
        <div class="text-center">
          <small class="form-text text-muted"
            >Need to add or remove a row?</small
          >
          <button
            class="btn-add"
            id="add_step"
            type="button"
            title="Add step row"
          >
            <i class="fas fa-plus-square"></i>
          </button>
          <button
            class="btn-remove"
            id="remove_step"
            type="button"
            title="Remove step row"
          >
            <i class="fas fa-minus-square"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Submit Recipe Button -->
  <div class="text-center recipe-btn">
    <button
      type="submit"
      class="btn btn-outline-primary btn-lg"
      data-toggle="button"
      aria-pressed="false"
    >
      Submit Your Recipe
    </button>
  </div>
</form>

{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/add-recipe.js')}}"></script>
{% endblock %}
