{% extends 'base.html' %} {% block content %}
<div class="row">
	<div class="card-deck">
		{% for recipe in recipes %}
		<div class="col-4">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
                
					<div class="col-md-4">
                    <a href="{{url_for('gt_recipe', recipe_id=recipe['_id'],recipe_name=recipe['recipe_name'])}}">
						<img src="{{url_for('static', filename='images/logo.png')}}" class="card-img" alt="recipe image" />
                    </a>
                    </div>
                    
						<div class="col-md-8">
							<div class="card-body">
                                <a href="{{url_for('gt_recipe',recipe_id=recipe['_id'],recipe_name=recipe['recipe_name'])}}">                             
								<h5 class="card-title">{{recipe.recipe_name}}</h5>
								<p class="card-text">{{recipe.recipe_description}}</p>
								<p class="card-text">
									<small class="text-muted">Portions: {{recipe.recipe_portions}}</small>
								</p>
								<p class="card-text">
									<small class="text-muted">Time: {{recipe.recipe_cooking_time}}</small>
								</p>
                                </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endblock %}