{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col-9 align-self-center">
    <h1>{{recipe.recipe_name}}</h1>
  </div>
  <div class="col-3">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link"
          href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
          ><i class="fas fa-edit"></i> Edit</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
          ><i class="fas fa-trash-alt"></i> Delete</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row recipe-header">
        <strong class="desc-heading">Recipe Difficulty</strong>
        <div class="col-12">
          {{recipe.recipe_skill}}
        </div>
        <strong class="desc-heading">Preparation Time</strong>
        <div class="col-12">
          {{recipe.recipe_prep_time}} minutes
        </div>
        <strong class="desc-heading">Cooking Time</strong>
        <div class="col-12">
          {{recipe.recipe_cooking_time}} minutes
        </div>
        <strong class="desc-heading">Servings</strong>
        <div class="col-12">
          {{recipe.recipe_portions}} portions
        </div>
        <strong class="desc-heading">Recipe Description</strong>
        <div class="col-12">
          {{recipe.recipe_description}}
        </div>
      </div>
    </div>
    <div class="col">
      <img src="{{url_for('static', filename='images/wrap.jpg')}}" alt="wrap" />
    </div>
  </div>
  <!-- Ingredients and Method Section -->
  <div class="row">
    <div class="col-sm-4 ing-container">
      <ol class="list-group list-group-flush">
        <h3 class="ing-header">Ingredients</h3>
        {% for ingredient in recipe.recipe_ingredients %}
        <li class="list-group-item">{{ingredient}}</li>
        {% endfor %}
      </ol>
    </div>

    <div class="col-sm-9 method-header">
      <ol class="list-group list-group-flush">
        <h3 class="ing-header">Method</h3>
        {% for steps in recipe.recipe_steps %}
        <li class="list-group-item step-number">{{steps}}</li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

{% endblock %}
