{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-9">
        <h1>{{recipe.recipe_name}}</h1>
    </div>
    <div class="col-3">
	<ul class="nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="fas fa-edit"></i> Edit</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#"><i class="fas fa-trash-alt"></i> Delete</a>
		</li>
	</ul>
    </div>
</div>
<div class="container">
  <div class="row">
  <div class="col">
    <div class="row">
    <strong class="desc-heading">Recipe Description</strong>
      <div class="col-12">
        {{recipe.recipe_description}}
      </div>
    <strong class="desc-heading">Recipe Difficulty</strong>
      <div class="col-12">
        {{recipe.recipe_skill}}
      </div>
      <strong class="desc-heading">Preparation Time</strong>
      <div class="col-12">
        {{recipe.recipe_prep_time}}
      </div>
      <strong class="desc-heading">Cooking Time</strong>
      <div class="col-12">
        {{recipe.recipe_cooking_time}}
      </div>
      <strong class="desc-heading">Servings</strong>
      <div class="col-12">
        {{recipe.recipe_portions}}
      </div>
    </div>
    </div>
    <div class="col">
      <img src="{{url_for('static', filename='images/wrap.jpg')}}" alt="wrap" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div>
        {{recipe.recipe_ingredients}}
      </div>
      <div>
        {{recipe.recipe_steps}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
